<div class="grid">

	<div class="col-12 md:col-6">
		<div class="card p-fluid">
			<h5>Parameter</h5>
			<div class="field grid">
				<label htmlFor="name3" class="col-12 mb-2 md:col-3 md:mb-0">Model series</label>
				<div class="col-12 md:col-7">
					<input pInputText id="name3" type="text" />
				</div>
			</div>
			<div class="field grid">
				<label htmlFor="name3" class="col-12 mb-2 md:col-3 md:mb-0">Block height</label>
				<div class="col-12 md:col-7">
					<input pInputText id="name3" type="text" />
				</div>
			</div>
			<div class="field grid">
				<label htmlFor="name3" class="col-12 mb-2 md:col-3 md:mb-0">Block width</label>
				<div class="col-12 md:col-7">
					<input pInputText id="name3" type="text" />
				</div>
			</div>
			<div class="field grid">
				<label htmlFor="name3" class="col-12 mb-2 md:col-3 md:mb-0">Block length</label>
				<div class="col-12 md:col-7">
					<input pInputText id="name3" type="text" />
				</div>
			</div>
			
		</div>
		
	
	</div>

	
</div>
